@keyframes bgchange {
    0%   { background-image: url(images/gui_research_back_1.jpg); }
    20%  { background-image: url(images/gui_research_back_2.jpg); }
    40%  { background-image: url(images/gui_research_back_3.jpg); }
    60%  { background-image: url(images/gui_research_back_4.jpg); }
    80% { background-image: url(images/gui_research_back_5.jpg); }
    100%   { background-image: url(images/gui_research_back_1.jpg); }
}
@-webkit-keyframes bgchange {
    0%   { background-image: url(images/gui_research_back_1.jpg); }
    20%  { background-image: url(images/gui_research_back_2.jpg); }
    40%  { background-image: url(images/gui_research_back_3.jpg); }
    60%  { background-image: url(images/gui_research_back_4.jpg); }
    80% { background-image: url(images/gui_research_back_5.jpg); }
    100%   { background-image: url(images/gui_research_back_1.jpg); }
}
* {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}
body {
    -webkit-animation: bgchange 24s linear 4s infinite alternate;
    animation: bgchange 24s linear 4s infinite alternate
    background-repeat:no-repeat;
}
table {
	margin:0 auto;
}
a {
	color: orange;
}
#preload{
	width: 0px;
	height: 0px;
	display: none;
	position: absolute;
}
#main {
	position: relative;
}
#title {
	font-style: italic;
	font-weight: bold;
	color: grey;
	text-align: center;
}
#tool {
	background-image: url(images/tool.jpg);
	border-radius: 10px;
	padding: 100px auto;
}
#find_connection {
	font-size:18pt;
	width:200px;
	height:80px;
	border-radius: 6px;
	float: right;
}
#help {
	background-image: url(images/help.jpg);
	font-size: 16px;
	color: orange;
	margin: 40px;
	padding: 40px;
	border: 1;
	border-radius: 6px;
}
.aspectlist {
	list-style:none;
	padding:0;
	overflow:scroll;
	height:300px;
	display:block;
	width:650px;
}
.aspectlist > li {
	display:block;
	width:145px;
	float:left;
	font-size:100%;
	font-family:serif;
}
#avail {
	background-color: lightgrey;
}
#avail > li > * {
	padding:5px;
	display:block;
	overflow:hidden;
	text-decoration:none;
	color:#333;
	cursor:pointer;
}
#avail > li:hover {
	background:#f3f3f3;
	color:#000;
	font-weight:bold;
}
#avail > li {
	width:25%;
}
.aspectlist > li img {
	vertical-align:middle;
	float:left;
	margin:8px 5px 0 0;
	max-width:64px;
}
.aspectlist .desc {
	overflow: hidden;
	font-weight:normal;
	line-height: 1.4em;
	font-size:small;
}
.aspectlist > li > div {
	text-align:left;
}
#avail > li.unavail {
	background:#f3f3f3;
	color:#999;
}
#avail > li.unavail:hover {
	background:#e8e8e8;
}
#close_results {
	float: right;
	height: 40px;
	border-radius: 6px;
}
.result > li {
	margin-bottom:10px;
	text-align:center;
}
.result > .aspect_result {
	border:1px solid #e8e8e8;
	padding:5px;
}
.result > li img {
	margin:4px 5px 0 0;
}
#combination_box {
	background:#d6d6d6;
	position:absolute;
	display:table-cell;
	padding:5px;
	display:none;
}
#combination_box img {
	float:left;
	margin:4px 5px 0 0;
}
#left, #right, #equals {
	display:inline-block;
	vertical-align: middle;
}
.operator {
	font-size:1.2em;
	line-height: 30px;
	margin: 0 6px;
}
.name, #combination_box .desc {
	margin-left: 37px;
}
#combination_box .desc {
	font-size:small;
}
#aspects_used {
	border-top:2px solid #c2c2c2;
	padding:5px;
}
#aspects_used_list {
	padding-left:0;
}
#aspects_used_list > li {
	width: 32px;
	height: 32px;
	display: inline-block;
	text-align:center;
	line-height:32px;
	cursor:default;
}
